<div class="panel">

  <app-loader *ngIf="loading.meaning || loading.age || loading.advice"></app-loader>

  <div *ngIf="!loading.meaning && !loading.age && !loading.advice">
    <h1 *ngIf="name">
      {{ name | titlecase }}
    </h1>

    <hr/>

    <p *ngIf="age" class="age">
      <span>Age:</span> {{ age }}
    </p>

    <p *ngIf="meaning" class="meaning">
      Name Meaning & History <span [innerHTML]="meaning"></span>
    </p>

    <p *ngIf="advice" class="advice">
      <span>An advice for you</span> {{ advice }}
    </p>
  </div>
</div>
