form {
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.5);
  box-shadow: 1px 1px 15px 5px rgba(0,0,0,0.5);
  background: #A1FFCE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FAFFD1, #A1FFCE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FAFFD1, #A1FFCE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  label {
    font-size: 2rem;
    text-align: center;
  }

  input {
    margin: 1.5rem 0;
    border-radius: .25rem;
    height: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
  }

  button {
    height: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: .5rem;
    transition: .3s;
    &:hover {
      background: lightgray;
    }
  }

}
